<h1>My ToDo List</h1>

<div id="postit" class="span4">
	<ul id="drag_items">
		<li draggable="true">Giant</li>
		<li draggable="true">Focus</li>
		<li draggable="true">Scott</li>
		<li draggable="true">KHS</li>
	</ul>
</div>

<div id="drop_zone_wrapper">
	<div id="drop_zone_1" class="drop_zones span2"></div>
	<div id="drop_zone_2" class="drop_zones span2"></div>
	<div id="drop_zone_3" class="drop_zones span2"></div>
	<div id="drop_zone_4" class="drop_zones span2"></div>
</div>

<input type="button" value="viewPickedItems" id="viewPickedItems" />
