// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

[draggable=true] {
  -khtml-user-drag: element;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: move;
}

#postit {
	background: url('postit.png') no-repeat;
	height: 240px;
}

#drag_items {
	list-style: none;
	padding: 20px;
}

#drag_items li {
	font-family: 'Coming Soon', cursive;
	font-size: 1.7em;
	margin: 15px;
	width: 70px;
}

.used_items {
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}

#drop_zone_wrapper {
	background-color: #f6f6f6;
	border: 1px solid #cdcdcd;
	float: right;
	padding: 2px;
}

.drop_zones {
	border: 3px solid #e6e6e6;
	height: 158px;
	margin: 2px !important;
}

.highlight {
	border: 3px dashed #ccc;
}